html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*.container{
    display: table;
    width: 100%;
}
label{
    display: table-cell;
    width: 100px;
}
input{
    width: 50%;
}

label gender{
    width:0px;
}*/